/* ------------------------------- BACKGROUND IMAGE ------------------------------- */
.webpage-background{
	background-image: url('https://images.squarespace-cdn.com/content/v1/6088bf84f6460a6aaca60f42/1623039564791-SWZ7SOVSSIPIW1VCL2G9/610_9576.jpg');
	background-size: cover;

}
/* ------------------------------- NAVBAR + LOGO ------------------------------- */
.logo-icon{
	font-size: 50px;
	color: white;
}

/*Google icons*/
span.material-symbols-outlined{
	font-size: 25px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.tagline{
    margin-bottom: 20px;
    border: solid black 1px;
}

/* ------------------------------- IMG CAROUSEL------------------------------- */
img.carousel-img{
	width: 100%;
}
.carousel-container{
	padding: 0% !important;
}

.carousel-msg{
  position: absolute !important;
  top: 50%;
  left: 50% !important;
  transform: translate(-50%, -50%);
  text-align: center !important;
  width: 500px;
}

/* ------------------------------- CONTENT ------------------------------- */
.container-style{
	background-color: #c5cbcf;
}

.content-msg{
	background-color: white;
}

p.content-msg{
    font-size: 36px;
    text-align: center;
}

/*Google fonts*/
.anton-regular {
	font-family: "Anton", sans-serif;
	font-weight: 400;
		font-style: normal;
}

@media only screen and (min-width: 768px) {
    .box-width{
      width: 49% !important;
    }
}

/*Small screens*/
@media (max-width: 768px) {
  .custom-margin {
    margin-top: 20px !important; 
  }
}

/*Small screens*/
@media (max-width: 768px) {
  .custom-padding {
    padding-top: 10%; 
    padding-bottom: 10%;
  }
}

.blur-mc {
	filter: blur(0.5px);
	filter: grayscale(50%);
}

.classes-style{
  text-align: center;
}

.class-description{
  color:#707070;
}

.border-style{
    border-right: solid #ababab 1px;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}



/* ------------------------------- BANNER ------------------------------- */
.blur {
	filter: blur(0.5px);
	filter: grayscale(100%);
}
.banner-style{
	position: absolute; 
	top: 50%; left: 50%; 
	transform: translate(-50%, -50%); 
	text-align: center;
}

h1.banner-style{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width:500px; 
}

h2.banner-style{
	margin-top: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width:500px; 
}
div.banner-style{
	width:500px; height: 500px;
}
/*font*/
.khand-light {
  font-family: "Khand", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.khand-regular {
  font-family: "Khand", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.khand-medium {
  font-family: "Khand", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.khand-semibold {
  font-family: "Khand", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.khand-bold {
  font-family: "Khand", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 768px) {
  .banner-sm {
    display: none !important;
  }
}

.banner-position{
  position: relative;
}
/* ------------------------------- JOIN US HOME ------------------------------- */
.button-home {
    background-color: white;
    border: 2px solid black;
    color:
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/*Small screens*/
@media (max-width: 768px) {
  .button-margin {
    margin-bottom: 20px;
    padding-bottom: 20px; 
    padding-top: 20px;
  }
}

@media (max-width: 768px) {
  img.margin {
    margin-top: 5%;
  }
}

/* ------------------------------- FOOTER ------------------------------- */
.footer-style{
  background-color: white;
  margin-bottom: 0px;
  padding-bottom: 1px;
  display: flex;
  flex-wrap: wrap;

}

a.icon{
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  text-decoration: none;
  color: black;
}

img.instagram{
  width: 5%;
  height: 100%;
  margin-right: 5px;
}

/*Small screens*/
@media (max-width: 768px) {
  img.instagram.sm {
    width: 9%;
    height: 100%;
    margin-right: 5px;
  }
}

img.facebook{
  width: 7%;
  height: 100%;
  margin-right: 5px;
}

@media (max-width: 768px) {
  img.facebook.sm {
    width: 9%;
    height: 100%;
    margin-right: 5px;
  }
}

.icons{
  display: flex;
}